.movies-cardlist {
  padding: 70px 70px 0;
  
}

.movies-cardlist__elements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 60px 30px;
  padding: 0 0 30px 0;
  margin: 0;
  justify-content: center;
}

.movies-cardlist__elements_saved-movies{
  padding: 0 0 170px 0;
}

.movies-cardlist__elements_error{
  display: flex;
  justify-content: center;
  text-align: center;
}

.movies-cardlist__error-message{
  margin: 0;
  padding: 0 20px;
}


.movies-cardlist__button {
  background: #2f2f2f;
  border-radius: 6px;
  width: 100%;
  min-width: 300px;
  border: none;
  margin: 76px auto 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
  padding: 11px 0 9px;
  transition: opacity 0.5s linear;
}

.movies-cardlist__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-cardlist {
    padding: 70px 30px 0;
  }

  .movies-cardlist__elements{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 47px 30px
  }

  .movies-cardlist__button{
      margin-top: 50px;
  }
  
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .movies-cardlist {
    padding: 40px 10px 80px;
  }

  .movies-cardlist__elements{
    grid-template-columns: auto;
    gap: 39px;
  }

  .movies-cardlist__button{
    margin-top: 50px;
}

}
