.popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  flex-direction: row-reverse;
  justify-content: center;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.popup__input {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup {
      font-size: 18px;
      line-height: 22px;
      flex-direction: column;
      align-items: center;
  }
}

.popup__container {
  margin: auto;
}

.popup__container_type_input {
  position: relative;
  background-color: #fff;
  /* width: 430px; */
  /* height: 330px; */
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-width: 282px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  width: calc(100% - 38px);
}

@media screen and (max-width: 767px) {
  .popup__container_type_input {
      max-width: 282px;
      max-height: 322px;
  }
}

.popup__container_type_signature {
  text-align: center;
  align-items: center;
  padding: 60px 36px 60px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  width: calc(100% - 38px);
  max-width: 420px;
  min-width: 282px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.popup__exit-button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-image: url(../../images/close_button.svg);
  background-color: transparent;
  background-position: center;
  border: none;
  transition: opacity .2s linear;
  opacity: 1;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__exit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__exit-button {
      right: 0;
      width: 26px;
      height: 26px;
  }
}

.popup__signature {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
}

.popup__icon {
  width: 120 px;
  height: 120 px;
  margin-bottom: 32 px;
}