.project {
  padding: 110px 70px 125px;
  background: #202020;
  color: #ffffff;
  font-family: Inter;
}

.project__header {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  margin: 0;
}

.project__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
  margin-bottom: 110px;
  column-gap: 40px;
  margin-top: 70px;
}

.project__description-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

.project__description-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 0;
}

.project__content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  row-gap: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.project__content-back {
  background: #3ddc84;
  color: #000000;
}

.project__content-front {
  background: #303030;
}

.project__content-caption {
  color: #8b8b8b;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .project {
    padding: 90px 50px;
  }

  .project__description {
      column-gap: 30px;
      row-gap: 22px;
      margin-bottom: 93px;
  }

  .project__description-subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
.project {
  padding: 70px 18px;
}

  .project__header {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    padding-bottom: 28px;
  }

  .project__description-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .project__description-subtitle {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
  }

  .project__content-caption {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    color: #a0a0a0;
  }

  .project__content-back {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }

  .project__content-front {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
  }
}
