.techs {
  background: #272727;
  color: #ffffff;
  padding: 100px 70px;
}

.techs__header {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
  margin: 0;
  padding-bottom: 23px;
}

.techs__description-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 90px auto 0;
}

.techs__description-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 26px auto 100px;
}

.techs__content {
  display: flex;
  justify-content: center;
}

.techs__content-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303030;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0 5px;
  width: 90px;
  height: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .techs__description-subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    margin: 22px auto 83px;
  }

  .techs__content-item {
    font-size: 12px;
    width: 84px;
    height: 57px;
  }

  .techs {
    padding: 90px 50px;
  }

  .techs__description-title {
    margin: 80px auto 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .techs {
    padding: 70px 18px;
    background: #202020;
  }

  .techs__header {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border-bottom: 1px solid #000000;
    padding-bottom: 28px;
  }

  .techs__description-subtitle {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    margin: 24px auto 50px;
  }

  .techs__description-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
  }

  .techs__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 89px);
    gap: 10px;
  }

  .techs__content-item {
    font-size: 12px;
    width: 84px;
    height: 57px;
    margin: 0;
  }
}
